:host
  > li
    background-color: lightcoral
    padding: 16px
    margin: 16px
    display block
    cursor pointer

:host([completed]) > li
  background-color: mediumseagreen
  text-decoration: line-through